<!-- <h1>Angular 15 Nivel Intermedio</h1>
<h1>Ejemplo 1</h1>
<h2>Estructura de un Componente.Etiqueta (selector).HTML CSS.</h2>
<p>
  <b>Hola Mundo</b>,Angular te permite crear paginas SPA <br>{{title}}
</p>

<h1>Ejemplo2</h1>
<h2>Interpolacion</h2>
<p>x vale {{x}}</p>
<p>y vale {{y}}</p>
<p><b>Frase del Dia :</b> {{palabra}}</p>
<p>Imprimir la Informacion de los Objetos</p>
<p>Nombre: {{persona1.nombre}} {{persona1.puesto}} {{persona1.sueldo}} {{persona1.edad}}</p>
<p>Nombre: {{persona2.nombre}} {{persona2.puesto}} {{persona2.sueldo}} {{persona2.edad}}</p>


<h1>Metodos y Eventos</h1>
<h2>Eventos al Hacer Click</h2> -->
<!-- //binding -->
<!-- <button (click)="mostraredad();">Cual es tu edad</button>&nbsp;
<button (click)="incrementaredad();">+</button>&nbsp;
<button (click)="decrementaredad();">-</button>&nbsp;

<h1>{{n}} </h1>

<h3>Entrada de datos con Input</h3>
<input type="text" [(ngModel)]="palabra">
<button (click)="limpiartexto();">Reset</button>
<h1>{{palabra | lowercase }}</h1>

<h2>Conversor de Euros/soles</h2>
Euros:
<input
 [(ngModel)]="euros"
 (keyup)="actualizarSoles();"
>

Soles:
<input 
[(ngModel)]="soles"
(keyup)="actualizarEuros();"
>

<button (click)="limpia();">Limpiar</button>

<app-repaso2></app-repaso2> --> 
<app-extraccion></app-extraccion>